{% extends 'base.html.twig' %}
{# ATTENTION A BIEN METTRE LE CODE DANS LE BLOC BODY ET NON TITLE!!!!!!!! #}
{% block title %}
    {# todo: afficher le formulaire de création #}
{% endblock %}

{% block body %}
    <div>

        {{ form_start(serieForm) }}


        {{ form_widget(serieForm) }}

        <button>Create!</button>

        {{ form_end(serieForm) }}

    </div>
{% endblock %}

