{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(seasonForm) }}
    {{ form_widget(seasonForm) }}
    <button>Create a new Season</button>
    {{ form_end(seasonForm) }}
{% endblock %}

{% block title %}
    <h2>Create a new season</h2>
{% endblock %}

